<div
  class="w-full h-full center-with-flex-col-direction bg-gradient-to-br from-orange-400 to-orange-800 gap-y-24 text-white">
  <h1>CONTACT US</h1>

  <p class="w-4/6 text-center">
    We are here to help. You can contact us from our contacts, or send a message from the form contact us!
  </p>

  <button class="text-orange-550 bg-white w-56 h-11 rounded-lg" aria-hidden="true" (click)="openContactModal()">Contact Us</button>
  <div class="w-full flex flex-col md:flex-row justify-center items-center gap-x-24">
    <div class="w-full center-with-flex-col-direction text-sm">
      <div>
        <h4>Company Info</h4>
        <p><strong>DM Solutions Unip Lda</strong></p>
        <p><strong>Address:</strong> Street A, 9785 PJ</p>
        <p><strong>Phone:</strong> <a href="tel:+351914599398" class="no-underline text-white">+351 914599398</a></p>
        <p><strong>Email:</strong> <a href="mailto:duartmelo@gmail.com" class="no-underline text-white"> duartmelo&#64;gmail.com</a></p>
      </div>
      <a href="https://maps.app.goo.gl/ozAtHH6epvrq8ZEs7" target="#" class="mt-5 md:hidden">
        <button class="text-orange-550 bg-white w-56 h-11 rounded-lg text-base" aria-hidden="true">Company Location</button>
      </a>
    </div>
    <div class="hidden md:w-full md:flex md:justify-center md:items-center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6231.976981383757!2d-27.123791802749427!3d38.649144966191635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb45d5ecc39004b1%3A0xebdde230edad9fd0!2sPiscina%20Natural%20do%20Refugo!5e0!3m2!1spt-PT!2spt!4v1723055606755!5m2!1spt-PT!2spt" width="300" height="250" style="border:0; border-radius: 10px;" allowfullscreen="false" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
