@if(product) {
<div class="max-w-56 max-h-60 flex flex-col justify-center border border-gray-300 rounded-lg hover:!border-orange-500 p-4">
  <div class="flex flex-col items-center gap-y-2">
    <img [src]="product.thumbnail" [alt]="product.description" width="100">
    <div class="flex flex-col justify-start items-start w-full">
      <span class="text-left"><strong>{{product.title}}</strong></span>
      <span class="break-word text-left text-sm">{{product.brand}}</span>
      <span class="break-word text-left text-sm">{{product.availabilityStatus}}</span>
      <span class="break-word text-left text-lg"><strong>{{product.price | currency : '2.2-2' : '€'}}</strong></span>
    </div>
  </div>
</div>
}
